<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CardReadyTool</title>
    <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/css/styles.css">
    <style>
        @media print {
            @page {
                size: 200mm 300mm;
                margin: 0;
            }
            html, body {
                width: 200mm;
                height: 300mm;
            }
            button#generatePDF {
                display: none;
            }
            a#backBtn {
                display: none;
            }

            div#gruptombol{
                display: none;
            }
            .container{
                /* padding: 3mm 10mm 0mm 10mm; */
                margin-top: 4.5mm;
            }
            section {
                padding: 0;
                margin: 0;
            }
            .row {
                justify-content: center !important;
                display: flex !important;
            }

            .beforeif {
                justify-content: center !important;
                display: flex !important;
                margin-left: 1.1cm;
            }
            .my-5 {
                margin-top: 0mm !important;
                margin-bottom: 0mm !important;
            }
            .aftercontainer {
                justify-content: center !important;
                display: flex !important;
            }
            .my-4 {
                margin-top: 0mm !important;
                margin-bottom: 2.5mm !important;
            }
        }
    </style>
</head>

<body>
    <section>
        <div class="container">
            <div>
                <div class="aftercontainer d-flex justify-content-center mt-4">
                    <a class="btn btn-warning btn-lg w-25 mx-2" id="backBtn" href="/">Back</a>
                    <button class="btn btn-danger btn-lg w-50 mx-2" type="button" id="generatePDF">Generate PDF</button>
                </div>
                <div class="my-5">
                    <% for(let i = 0; i < vaksinfile1.length; i++){ %>
                    <div class="row d-flex justify-content-center input-line my-4" >
                        <div class="col-4 align-self-center vaksin_1">
                            <div class="beforeif d-flex justify-content-center" >
                                <% if (vaksinpilihan1[i] == 'vaksin1'){ %>
                                <div class="main-card" style="width: 85mm;height: 55mm;background: url(&quot;/public/assets/img/main_assets/bg_vaksin1.svg&quot;) center / cover no-repeat;">
                                <% } else { %>
                                <div class="main-card" style="width: 85mm;height: 55mm;background: url(&quot;/public/assets/img/main_assets/bg_vaksin2.svg&quot;) center / cover no-repeat;">
                                <% } %>
                                    <img src="/public/uploads/<%= vaksinfile1[i].filename %>" style="width: 85mm;height: 55mm;">
                                    <div class="qrcode" style="background: url(&quot;/public/uploads/<%= vaksinfile1[i].filename %>&quot;) 71.2% 35% / 1140%, #9b1515;border-radius: 3px; margin-left: 205px !important"></div>
                                </div>
                                <div class="overlay-img" style="width: 85mm;height: 55mm;">
                                    <% if (vaksinpilihan1[i] == 'vaksin1'){ %>
                                    <img src="/public/assets/img/main_assets/cover_vaksin1.svg" style="width: 85mm;height: 55mm;">
                                    <% } else { %>
                                    <img src="/public/assets/img/main_assets/cover_vaksin2.svg" style="width: 85mm;height: 55mm;">
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('generatePDF').addEventListener('click', async function(){
            // generate pdf
            window.print()
            // cleanup
            // await fetch('/cleanup')
            // done
            // alert('Finished')
            // redirect back
            // window.location = '/'
        })
    </script>
</body>

</html>