<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CardReadyTool</title>
    <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/css/styles.css">
    <style>
        @media print {
            @page {
                size: 200mm 300mm;
                orientation: portrait;
                margin: 0;
            }
            html, body {
                width: 200mm;
                height: 300mm;
            }
            button#generatePDF {
                display: none;
            }
            .container{
                padding: 3mm 10mm 0mm 10mm;
                margin: 1mm;
            }
            section {
                padding: 0;
                margin: 0;
            }
            .my-5 {
                margin-top: 0mm !important;
                margin-bottom: 0mm !important;
            }
            .my-4 {
                margin-top: 0mm !important;
                margin-bottom: 2.5mm !important;
            }
        }
    </style>
</head>

<body>
    <section>
        <div class="container">
            <div>
                <button class="btn btn-danger btn-lg form-control" type="button" id="generatePDF">Generate PDF</button>
                <div class="my-5">
                    <% vaksinfile1.forEach( function(the_file){ %>
                    <div class="row d-xxl-flex justify-content-xxl-center input-line my-4" >
                        <div class="col-xxl-4 align-self-center vaksin_1">
                            <div class="d-xxl-flex justify-content-xxl-center">
                                <div class="main-card" style="width: 85mm;height: 55mm;background: url(&quot;/public/assets/img/main_assets/bg_vaksin1.svg&quot;) center / cover no-repeat;">
                                    <img src="/public/uploads/<%= the_file.filename %>" style="width: 85mm;height: 55mm;">
                                    <div class="qrcode" style="background: url(&quot;/public/uploads/<%= the_file.filename %>&quot;) 71.5% 35% / 1080%, #9b1515;border-radius: 3px;"></div>
                                </div>
                                <div class="overlay-img" style="width: 85mm;height: 55mm;">
                                    <img src="/public/assets/img/main_assets/cover_vaksin1.svg" style="width: 85mm;height: 55mm;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>  
                </div>
            </div>
        </div>
    </section>
    <script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('generatePDF').addEventListener('click', async function(){
            // generate pdf
            window.print()
            // cleanup
            await fetch('/cleanup')
            // done
            alert('Finished')
            // redirect back
            window.location = '/'
        })
    </script>
</body>

</html>